*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
#container{
  height:100vh;
  width:100vw;
}
#info{
  width:50vw;
  height:100vh;
  float:right;
  text-align: center;
  font-family: Helvetica;
  padding-top: 10vh;
  font-weight: bold;
  font-size: 300%;
  background-color: #51626a;
}
#buttons{
  width:50vw;
  height:100vh;
  background-color: #586671;
}
.wood{
  height:300px;
}
