*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
#container{
  height:100vh;
  width:100vw;
  padding: 3vh 3vw 3vh 3vw;
}
#container div{
  height:47vh;
  width: 47vw;
  float:left;
}
#resources ol{
  list-style: none;
}
#resources p{
  float: right;
  font-size: 9vh;
}
.button{
  height:9vh;
}
